version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: kc-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: kc_farm
      POSTGRES_USER: kc_user
      POSTGRES_PASSWORD: kc_password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
